html {
    box-sizing: border-box;
    }

*, *::before, *::after {
                      box-sizing: inherit;
                      } 

*{
    font-family: "Liberation Mono", Verdana, Georgia, "Times New Roman";
    background-color: ivory;
    text-align: center;
    /*border: 2px solid red;*/
}


.first-page{
    background-color: white;
}


h1{
    text-align: center;
    color: rgb(128,0,0);
}

.leaf{
    width: 1400px;
    height: auto;
}

.list{
    list-style: none;
} 

li{
    padding: 10px;
}

/* unvisited link */
a:link {
    color: rgb(0,0,139);
  }
  
/* visited link */
a:visited {
    color: brown;
  } 
  
/* mouse over link */
a:hover{
    color: #6b8e23;
}

/* footer with fixed position in the viewport */
footer {
    position: fixed; 
    color: ivory;
    background-color: #6b8e23;
    font-size: 20px; 
    bottom: 1.5cm;
    width: 100%;
}

.flex_container {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: white;
    height: 200px;
}

.flex-item {
    flex-basis: 300px;
    background-color: ivory;
    height: 50px;
    border: 2px dashed brown;
}

ul {
    padding:0%;
}