*{
    font-family: "Liberation Mono", Verdana, Georgia, "Times New Roman";
    background-color: ivory;
    text-align: center;
}


.first-page{
    background-color: white;
}


h1{
    text-align: center;
    color: rgb(128,0,0);
}

.leaf{
    width: 1400px;
    height: auto;
}

.list{
    list-style: none;
} 

/* unvisited link */
a:link {
    color: rgb(0,0,139);
  }
  
/* visited link */
a:visited {
    color: brown;
  }
  
/* mouse over link */
a:hover{
    color: #6b8e23;
}